/* --------------------------------------------
$  FONT FACES
 --------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

@font-face {
    font-family: 'Neue Machina';
    /* IE9 Compat Modes */
    src: url('../css/fonts/neuemachina.eot');
    /* IE6-IE8 */
    src: url('../css/fonts/neuemachina.eot?#iefix') format('embedded-opentype'),
        /* Modern Browsers */
        url('../css/fonts/neuemachina.woff') format('woff'),
        /* Safari, Android, iOS */
        url('../css/fonts/neuemachina.ttf') format('truetype'),
        /* Legacy iOS */
        url('../css/fonts/neuemachina.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Madelon Script';
    /* IE9 Compat Modes */
    src: url('../css/fonts/madelonscript.eot');
    /* IE6-IE8 */
    src: url('../css/fonts/madelonscript.eot?#iefix') format('embedded-opentype'),
        /* Modern Browsers */
        url('../css/fonts/madelonscript.woff') format('woff'),
        /* Safari, Android, iOS */
        url('../css/fonts/madelonscript.ttf') format('truetype'),
        /* Legacy iOS */
        url('../css/fonts/madelonscript.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}