/* --------------------------------------------
$  FUNCTIONS
 --------------------------------------------*/

/// COLOUR MAP
$colours: (
  /**/
  lonestar: rgb(117, 0, 1),
  lonestar-light: lighten(rgb(117, 0, 1), 5%),
  lonestar-dark: darken(rgb(117, 0, 1), 5%),
  lonestar-darker: darken(rgb(117, 0, 1), 11%),
  full-moon: rgb(254, 255, 211),
  topaz: rgb(253, 198, 125),
  rajah: rgb(255, 155, 67),
  apricot: rgb(255, 204, 178),
);

@function colour($colour-name) {
  @return map-get($colours, $colour-name);
}